:root {
  --bg-main: #fafafa;
  --card-bg: #ffffff;
  --separator-grey-color: #dbdbdb;
  --main-text-color: #262626;
  --grey-text: #737373;
  --dark-blue-text: #00376b;
  --button-main-blue: #0095f6;
  --button-hover-blue: #007cd1;
  --footer-font-size: 12px;
  --bigger-font-size: 14px;
}

/* ===== CONTAINER ===== */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
  animation: fadeIn 0.8s ease-in-out;
  max-width: fit-content;
  margin: 0 auto;
}

/* ===== FORM SECTION ===== */
.form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 20px;
}

.formSection {
  flex: 1;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  animation: fadeInUp 0.8s ease;
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--separator-grey-color);
  padding: 35px 45px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* ===== SEPARATOR ===== */
.separatorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

.separator {
  flex: 1;
  height: 1px;
  background-color: var(--separator-grey-color);
}

/* ===== TEXT ===== */
.subtitle {
  color: var(--grey-text);
  font-weight: 500;
  padding-bottom: 10px;
  font-size: var(--bigger-font-size);
}

.subtitleBlack {
  color: var(--main-text-color);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: var(--bigger-font-size);
}

.text {
  color: var(--grey-text);
  font-weight: 300;
  font-size: 14px;
}

.orText {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 13px;
}

/* ===== BACK TO LOGIN ===== */
.backToLogin {
  width: 100%;
  border: 1px solid var(--separator-grey-color);
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  animation: fadeInUp 1.2s ease;
}

.backToLoginLink {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--bigger-font-size);
  transition: all 0.3s ease;
}

.backToLoginLink:hover {
  color: var(--button-main-blue);
}

.linkWithoutBorder {
  padding-top: 16px;
  margin-bottom: 40px;
}
