:root {
  --bg-main: #fafafa;
  --card-bg: #ffffff;
  --separator-grey-color: #dbdbdb;
  --main-text-color: #262626;
  --grey-text: #8e8e8e;
  --dark-blue-text: #00376b;
  --button-main-blue: #0095f6;
  --button-hover-blue: #007cd1;
  --footer-font-size: 12px;
  --bigger-font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
  animation: fadeIn 0.8s ease-in-out;
  max-width: fit-content;
  margin: 0 auto;
}

.formSection {
  flex: 1;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  animation: fadeInUp 0.8s ease;
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--separator-grey-color);
  padding: 35px 45px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.logo {
  font-family: 'Billabong', cursive;
  font-size: 42px;
  color: var(--main-text-color);
}

/* ===== SIGNUP CARD ===== */
.signupCard {
  background-color: var(--card-bg);
  border: 1px solid var(--separator-grey-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
  animation: fadeInUp 1.1s ease;
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 6px;
  text-align: center;
}

.signupCard p {
  margin: 0;
}

.signupText {
  font-size: 14px;
  text-decoration: none;
  color: var(--button-main-blue);
  font-weight: 600;
  transition: color 0.25s ease;
}

.signupText:hover {
  color: var(--button-hover-blue);
}

/* ===== TEXT ===== */
.subtitle {
  color: var(--grey-text);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: var(--bigger-font-size);
}