@import url("reset.css");
@import url("fonts.css");
@import url("variables.css");

body {
  font-family: "Roboto", sans-serif;
}

.app-wrapper {
    display: flex;
    min-height: 100vh;
}

/* Основная область контента */
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
