@import url("reset.css");
@import url("fonts.css");
@import url("variables.css");

body {
  font-family: "Roboto", sans-serif;
}

.app-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    /* ключевое */
    /* height: 100vh; */
    /* чтобы растянуть на весь экран */
}

.main-content {
    flex: 1;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
