:root {
    --button-main-blue: #0095F6;
    --error-message-color: #FF0014;
    --delete-color: #ED4956;
    --main-text-color: #000000;
    --grey-text-color: #737373;
    --grey-text-color-hover: #000000;
    --grey-background: #efefef;

    --sidebar-font-size: 16px;
    --footer-font-size: 12px;

    --bigger-font-size: 16px;

    --sidebar-width: 250px;
}

