.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding: 16px;
  grid-auto-rows: 300px; /* базовая высота ряда для квадратов */
}

.itemSquare {
  grid-row: span 1; /* занимает один ряд */
}

.itemWide {
  grid-row: span 2; /* занимает два ряда */
  min-height: 600px; /* можно оставить текущую min-height */
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
