.avatarWrapper {
  border-radius: 50%;
  background: linear-gradient(
    40deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  box-sizing: border-box;
}

.avatarInner {
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  background: transparent;
}
