.sidebar {
  width: var(--sidebar-width);
  flex-shrink: 0;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  border-right: none;
  z-index: 1000;
}

.logoWrapper {
    margin-bottom: 30px;
}

.logo {
    width: 120px;
    height: auto;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.navItem:hover,
.navItemActive {
    border-radius: 8px;
    padding: 0px 8px;
    font-weight: 600;
}

.navItem.active {
    font-weight: 700;
    padding: 0 8px;
    /* чтобы текст оставался сдвинутым */
}


.navItem:last-child {
    margin-top: 40px;
    /* padding: 6px 0px; */
}


.textShifted {
    font-weight: 700;
    padding: 0 8px;
}

.icon {
    width: 24px;
    height: 24px;
}

.avatarIcon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.logoutWrapper {
    margin-top: auto;
    width: 100%;
    padding: 16px;
}