/* Вся страница мессенджера */
.messagesPage {
    display: flex;
    height: calc(100vh - 70px - 40px);
    background: #fff;
}


/* Средняя колонка */
.chatList {
    width: 350px;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
}

/* Заголовок "itcareerhub" */
.chatListHeader {
    padding: 18px 22px;
    margin-bottom: 44px;
    font-size: 15px;
    font-weight: 600;
}

/* Элемент чата */
.chatItem {
    display: flex;
    gap: 12px;
    padding: 14px 20px;
    cursor: pointer;
}

.chatItem:hover {
    background: #EFEFEF;
}

.active {
    background: #EFEFEF;
}

/* Фото в списке */
.avatarSm {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

/* Информация о чате */
.chatInfo {
    display: flex;
    flex-direction: column;
}

.chatName {
    font-weight: 600;
    font-size: 15px;
}

.chatLast {
    font-size: 12px;
    color: #7c7c7c;
    margin-top: 3px;
}

/* Правая колонка */
.chatWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Верхняя плашка */
.chatHeader {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 26px;
    gap: 10px;
    border-bottom: 1px solid #EFEFEF;
}

/* Аватар сверху */
.headerAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* "nikita" */
.headerTitle {
    font-size: 15px;
    font-weight: 600;
}

/* Hero-блок */
.userHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 16px;
    gap: 8px;
}

.heroAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.heroName {
    font-size: 17px;
    font-weight: 700;
    margin-top: 4px;
}

.heroSub {
    font-size: 13px;
    color: #777;
}

.viewProfile {
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background: #f2f2f2;
    border: none;
}

/* Дата */
.chatDate {
    text-align: center;
    font-size: 12px;
    color: #8f8f8f;
    margin: 10px 0 18px;
}

/* Сообщения */
.chatMessages {
    flex: 1;
    padding: 0 38px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow-y: auto;
}

/* Сообщение */
.row {
    display: flex;
}

.leftRow {
    justify-content: flex-start;
    gap: 10px;
}

.rightRow {
    justify-content: flex-end;
}

.msgAvatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.message {
    max-width: 520px;
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 14px;
    line-height: 1.4;
}

.left {
    background: #efefef;
}

.right {
    background: #6c00ff;
    color: white;
}

/* Поле ввода */
.chatInput {
    padding: 18px 26px;
    border-top: 1px solid #e6e6e6;
}

.chatInput input {
    width: 100%;
    height: 44px;
    border-radius: 28px;
    border: 1px solid #dcdcdc;
    padding: 0 18px;
    font-size: 14px;
}
