.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 20px 0;
    color: var(--grey-text-color);
    font-size: var(--footer-font-size);
    position: fixed; /* закрепляем футер */
    bottom: 0;       /* у нижнего края окна */
    left: 0;
    width: 100%;     /* растягиваем на всю ширину */
    background: white; /* чтобы перекрывало контент */
    z-index: 1000;      /* выше сайдбара и панелей */
    flex-shrink: 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1); /* легкая тень */
}

.nav {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link {
    font-size: 12px;
    text-decoration: none;
    color: var(--grey-text-color);
    font-weight: 400;
    transition: color 0.2s ease;
}

.link:hover {
    color: var(--grey-text-color-hover);
}

.copy {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--grey-text-color);
}