.label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;

}

.input {
    width: 100%;
    padding: 9px 8px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.input:focus {
    border-color: #a8a8a8;
    background-color: #ffffff;
}

.inputError {
    border-color: red !important;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}