.editPage {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 60%;
    margin: 0 auto;
}
.editPage h2 {
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 20px;
}

.avatarPreviewBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-background);
    border-radius: 20px;
    padding: 16px;
}

.userInfoBox {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 76%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

/* .userInfo textarea {
    resize: none;
    font-family: Roboto, sans-serif;
} */

.avatarLabel {
    cursor: pointer;
    align-self: center;
}

.avatarImg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.input,
.textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.textarea {
    min-height: 100px;
    resize: vertical;
}

.captionCounter {
    position: absolute;
    bottom: 8px;
    right: 22px;
    font-size: 12px;
    color: #999;
}

.userFullname {
    font-weight: 700;
    font-size: var(--bigger-font-size);
}

.userBio {
    font-size: var(--main-font-size);
    color: var(--grey-text-color);
}